.container {
    width : 1000px;
    margin : 0 auto;
    overflow : hidden;
}

div {
    border : 1px solid red;
    padding : 20px;
}

.left, .middle, .right {
    float : left;
}

.container2 {
    width : 1000px;
    margin : 0 auto;
    overflow : hidden;
    border: 1px solid green;
    margin-bottom: 20px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container2 div {
    width : 200px;
}

